/* 全局通用样式 */
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-family: "PingFangSC-Regular", "PingFang SC";
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
textarea:focus,
input:focus {
  outline: none !important;
  border: 2px solid #00499d !important;
}

button:focus {
  box-shadow: none !important;
  outline: none !important;
}
.tooltip-inner {
  background: #8ea4bc !important; /*修改背景色*/
  color: #fff !important; /*字体颜色*/
}
.tooltip-arrow {
  border-right-color: #8ea4bc !important;
}
.container {
  min-width: 1366px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.col-lg-12 {
  padding: 0 !important;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.dot-waring-bg {
  background: #ffb776;
}
.dot-success-bg {
  background: #a4da4e;
}
.dot-danger-bg {
  background: #ff3d3d;
}
.m-text-waring {
  color: #ffb776;
}
.m-text-success {
  color: #a4da4e;
}
.m-text-danger {
  color: #ff3d3d;
}
.m-text-blue {
  color: #28acff;
}
/*在父元素清除浮动*/
.clearfloat:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* 在最后加元素清除浮动 */
.clear {
  clear: both;
}
.clearborder {
  border: none !important;
}
/* 头部 */
.navigation {
  width: 100%;
  height: 50px;
  background: linear-gradient(180deg, #e7f2ff 0%, #c3dff3 100%);
}
.nav-logo {
  width: 262px;
  height: 36px;
  margin: 7px 6px 7px 14px;
}

.nav-text {
  width: 50px;
  text-align: center;
  height: 22px;
  background: #82b3d8;
  border-radius: 3px;
  opacity: 0.69;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  line-height: 22px;
  margin-top: 14px;
}

.nav-avatar {
  width: 27px;
  height: 27px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-top: 13px;
}
.nav-drop {
  margin: 18px 28px auto 10px;
}
.nav-drop > a {
  font-size: 11px;
  text-decoration: none;
  color: #333;
}
/* 左侧边栏导航 */
.sidebar {
  width: 178px;
  height: 100%;
  box-sizing: border-box;
  padding: 4px 0 0 8.54px;
  background: #f0faff;
  position: relative;
  float: left;
}
.flod-btn {
  position: absolute;
  top: 440px;
  right: 0;
  width: 18px;
  height: 36px;
  background: url("../img/fold.png") center center no-repeat;
  background-size: cover;
}
.flod-btn-back {
  position: absolute;
  top: 460px;
  right: 0;
  width: 18px;
  height: 36px;
  background: url("../img/fold-back.png") center center no-repeat;
  background-size: cover;
}

.submenu {
  display: none;
  font-size: 14px;
}

.sidebar ul.submenu li a {
  background: none;
}

.sidebar > img {
  position: absolute;
  top: 315.18px;
  right: 0;
  width: 12.81px;
  height: 25.61px;
}
.sidebar ul {
  width: 100%;
  height: auto;
}

.sidebar ul li {
  border-radius: 4px center center 5px;
  list-style: none;
}
.sidebar ul li a {
  width: 100%;
  color: #280029;
  box-sizing: border-box;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  height: 60px;
  padding: 20px 0 20px 44px;
  font-size: 14px;
  background-size: 30px 30px;
}
.sidebar ul li .link a {
  height: auto;
  padding: 0;
}

.sidebar ul .a1 a {
  background: url("../img/icon-home.png") 8px 15px no-repeat;
  background-size: 30px 30px;
}
.sidebar ul .a2 a {
  background: url("../img/icon-safe.png") 8px 15px no-repeat;
  background-size: 30px 30px;
}
.sidebar ul .a5 a {
  background: url("../img/icon-user2.png") 8px 15px no-repeat;
  background-size: 30px 30px;
}
.icon-log {
  width: 30px;
  height: 30px;
  margin-right: 6px;
  display: inline-block;
  background: url("../img/icon-log.png") center center no-repeat;
  background-size: 30px 30px;
  padding: 14.23px 0 14.23px 32.17px;
}
.icon-manager {
  width: 30px;
  height: 30px;
  margin-right: 6px;
  display: inline-block;
  background: url("../img/icon-manager.png") center center no-repeat;
  background-size: 30px 30px;
  padding: 14.23px 0 14.23px 32.17px;
}
.link {
  height: 60px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #280029;
  padding: 20px 0 20px 8px;
}

.sidebar ul .a1.active a {
  background: url("../img/icon-home2.png") 8px 15px no-repeat;
  background-size: 30px 30px;
}
.sidebar ul .a2.active a {
  background: url("../img/icon-safe2.png") 8px 15px no-repeat;
  background-size: 30px 30px;
}
.sidebar ul .a5.active a {
  background: url("../img/icon-user.png") 8px 15px no-repeat;
  background-size: 30px 30px;
}
.sidebar ul li.active .icon-log {
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url("../img/icon-log2.png") center center no-repeat;
  background-size: 30px 30px;
  padding: 14.23px 0 14.23px 32.17px;
}

.sidebar ul li.active .icon-manager {
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url("../img/icon-manager2.png") center center no-repeat;
  background-size: 30px 30px;
  padding: 14.23px 0 14.23px 32.17px;
}

.icon-sidebar li a {
  background: url("../img/icon-home.png") 8px 15px no-repeat;
  background-size: 30px 30px;
}
.icon-sidebar li:nth-child(2) a {
  background: url("../img/icon-safe.png") 8px 15px no-repeat;
  background-size: 30px 30px;
}
.icon-sidebar li:nth-child(3) a {
  background: url("../img/icon-log.png") 8px 15px no-repeat;
  background-size: 30px 30px;
}
.icon-sidebar li:nth-child(4) a {
  background: url("../img/icon-manager.png") 8px 15px no-repeat;
  background-size: 30px 30px;
}
.icon-sidebar li:nth-child(5) a {
  background: url("../img/icon-user2.png") 8px 15px no-repeat;
  background-size: 30px 30px;
}

.icon-sidebar li.active a {
  background: url("../img/icon-home2.png") 8px 15px no-repeat;
  background-size: 30px 30px;
}
.icon-sidebar li.active:nth-child(2) a {
  background: url("../img/icon-safe2.png") 8px 15px no-repeat;
  background-size: 30px 30px;
}
.icon-sidebar li.active:nth-child(3) a {
  background: url("../img/icon-log2.png") 8px 15px no-repeat;
  background-size: 30px 30px;
}
.icon-sidebar li.active:nth-child(4) a {
  background: url("../img/icon-manager2.png") 8px 15px no-repeat;
  background-size: 30px 30px;
}
.icon-sidebar li.active:nth-child(5) a {
  background: url("../img/icon-user.png") 8px 15px no-repeat;
  background-size: 30px 30px;
}

.m-hide {
  display: none;
}
.sidebar-flod {
  width: 70px;
  padding: 0 14px;
}
.sidebar ul .active {
  background: #e7f2ff;
}
.sidebar ul li:hover {
  background: #e7f2ff;
}
.sidebar-flod ul .active {
  background: #f0faff;
}
.sidebar-flod ul li:hover {
  background: #f0faff;
}

.content {
  box-sizing: border-box;
  padding: 14px;
  left: 178px;
  width: calc(100% - 178px);
  overflow-y: auto;
  height: 100%;
  padding-bottom: 20px;
}
.content-flod {
  left: 70px;
  width: calc(100% - 70px);
}
/* 无数据状态 */
.no-data {
  width: 285px;
  height: 138px;
  margin: 45px auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.no-data > img {
  width: 138px;
  height: 138px;
}
.no-data > div > p {
  margin: 30px 0 19px 0;
}
.no-data > div > button {
  width: 88px;
  height: 28px;
  padding: 3px 16px;
  background: #fff;
  color: #00499d;
  border: 1px solid #bdddf4;
}

.modal-close {
  font-size: 24px;
}

.dropdown-menu {
  width: 186px;
  background: linear-gradient(360deg, #eff5fc 0%, #ffffff 100%);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.09);
  border: 1px solid #bdddf4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: none;
  right: -20px !important;
  padding: 0;
}
.dropdown-menu .dropdown-menu-top {
  display: inline-block;
  height: 10px;
  width: 10px;
  position: absolute;
  top: -10px;
  right: 18px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
}
.nav-tabs .dropdown-menu {
  margin-top: 6px;
}
.dropdown-menu li {
  height: 38px;
  width: 100%;
  line-height: 38px;
}
.dropdown-menu > li > a {
  height: 38px;
  width: 100%;
  color: #333333;
  line-height: 38px;
}
.dropdown-menu li:hover {
  background: #e7f2ff;
}
.dropdown-menu > li > a:hover {
  background-color: #e7f2ff;
}

.modal-c {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) !important;
  left: 50%;
}

.sidebar ul li .submenu li a {
  background: #f0faff;
  padding-left: 48px;
}

.sidebar ul li.active .submenu li a.active {
  background: #e7f2ff;
}

.sidebar ul li .submenu li a:hover{
  background: #e7f2ff;
}