.container{
    background:#E7F2FF;
}

.content>p{
    font-size: 16px;
    color: #00499D;
    margin-bottom: 0;
}
.card-1,.card-2{
    width: 10%;
    height: 566px;
    margin-top: 14px;
    border-radius: 5px;
    border: 1px solid #BDDDF4;
}
.card-1{
    padding: 13px 14px;
}
.card-2{
    width: 89%;
}
.card-1>div{
    width: 100%;
    height: 1px;
    border-top: solid #eee 1px;
    margin: 10px 0 10px 0;
}
.card-1 ul>p,.card-1 ul>li{
    list-style: none;
    font-size: 10px;
    color: #666666;
    margin-bottom: 13px;
    margin-left: 11px;
}
.card-1 ul .active{
    color: #2F8BD2;
}
.card-1 ul>li:last-child{
    margin-bottom: 0;
}
.card-1 ul>p{
    margin-left: 0;
    color: #999999;
}
.card-2 .title{
    height: 38px;
    background: linear-gradient(360deg, #EFF5FC 0%, #FFFFFF 100%);
    border-bottom: 1px solid #BDDDF4;
    box-sizing: border-box;
    padding: 8px 17px;
}
.card-2 .title ul{
    margin: 0;
}
.card-2 .title .m-btn{
    margin-right: 7px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10px;
}
.card-2 .title>ul>.m-btn:first-child{
    color: #FFFFFF;
    background: linear-gradient(180deg, #75CEFF 0%, #1976C4 100%);
    border-color: #75CEFF;
}
.card-2 .title>ul>.m-btn:nth-child(2){
    color: #FFFFFF;
    background: linear-gradient(180deg, #73CB24 0%, #439308 100%);
    border-color: #73CB24;
}
.card-2 .title>i{
    color: #ccc;
    line-height: 18px;
}
.card-2 .title .input-group{
    width: 135px;
    height: 22px;
}
.card-2 .title .input-group>.input-sm{
    width: 135px;
    height: 22px;
    background-image: url('../img/icon-search.png'); 
    background-repeat: no-repeat;
    background-position: 114px 3px;
    background-size: 14px 14px;
    margin-right: 13px;
}
/* 圆点 */
.dot{
    width: 10px;
    height: 10px;
    margin: 0 auto;
    border-radius: 50%;
    display: inline-block;
}
.chooseBox {
    width: 400px;
    height: 345px;
    border: 1px solid #ccc;
}
.chooseBox .treebox {
    height: 100%;
    overflow: scroll;
}

/* 固定列的table.css */
.table-cont{
    width: 100%;
    max-height: 490px;
    overflow: hidden;
    position: relative;
    background: #F6F8FA;
}
/* 清除table的bottom */
.table{
    margin-bottom: 0;
}
.table-bottom>table,.table-top>table{
    font-size: 10px;
    color: #666;
}
.table-bottom{
    overflow: auto;
}
.table-top table{
    background: #ffffff;
}
.table-bottom table{
    margin-left: 285px;
    background: #ffffff;
}
.table-cont .table>tbody>tr>td{
    border-top: 0.5px solid #F1F1F3;
    height: 32px;
}
.table-cont .table-bottom>table>thead td,.table-cont .table-top>table>thead td{
    height: 36px;
    color: #000000;
    font-weight: 600;
    background: #F6F8FA;
}
.table-top{
    width: 280px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.tr-active{
    background: #E7F2FF;
}
/* 修改滚动条的样式 */
div::-webkit-scrollbar{
    width:10px;
    height:8px;
    /**/
  }
  div::-webkit-scrollbar-track{
    background: #F7F7F7;
    border-radius:2px;
  }
  div::-webkit-scrollbar-thumb{
    background: #ddd;
    border-radius:10px;
  }
  div::-webkit-scrollbar-thumb:hover{
    background: #4AA3FF;
  }
  div::-webkit-scrollbar-corner{
    background: #179a16;
  }
/* 分页 */
.paging{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.paging p{
    margin-bottom: 0;
}
.paging ul{
    margin: 0;
}

.pagination>li>a{
    padding: 3px 12px;
}
.paging>span{
    font-size: 10px;
    color: #999999;
    margin-right: 11px;
}
.paging>nav{
    margin-right: 11px;
    height: 29px;
}
.paging .m-btn{
    padding:4px 9px;
    margin-right: 11px;
}


/* modal弹框css */
.modal-dialog {
    width: 925px;
    margin: 0 auto !important;
}

.modal-content {
    width: 100%;
    max-height: 889px;
    background: #FFFFFF;
    box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    margin-top: 25px;
    overflow: hidden;
}

.modal-body{
    padding: 26px 0 0 38px;
    height:700px;
    overflow: auto;
    display: flex;
}
.modal-form{
    width: 500px;
}
.modal-form ul {
    margin-bottom: 20px;
}
.modal-table{
    width: 363px;
    height: 497px;
    background: #00499D;
    margin-left: 40px;
}
.deleteModal {
    width: 550px;
}
.deleteModal .modal-body {
    height: 100px;
}
.glyphicon-exclamation-sign {
    color: #FFAD00;
}
.deleteModal .modal-body>p {
    
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}
.ul_ul {
    display: flex;
    height: 30px;
    line-height: 30px;
}

.ul_ul li {
    list-style: none;
    position: relative;
}

.left_li {
    width: 90px;
    font-size: 10px;
    font-weight: 600;
    color: #000000;
    text-align: right;
    list-style: none;

}
.margin-l{
    margin-left: 12px !important;
}
.margin-l>span{
    margin-right: 20px;
}
.margin-l>span>input{
    margin-right: 5px;
}
.right_li {
    font-size: 11px;
    font-weight: 400;
    color: #666666;
}

.right_li input {
    width: 401px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #DDDDDD;

}

.ul_bei {
    display: flex;
    margin-bottom: 14px;
}

.right_bei {
    list-style: none;
}
.input-padding{
    padding-left: 11px;
}
.select-group{
    display: flex;
}
.select-group .form-control{
    width: 170px;
}
.right_bei textarea{
    width: 401px;
    height: 80px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    padding: 9px 11px;
    font-size: 11px;
    font-weight: 400;
    color: #666666;
}
.form-control{
    height: 30px;
    font-size: 10px;
    padding: 6px 10px;
    color: #666666;
}
.icon-time{
    background: url('../img/icon-time.png') 8px 6px  no-repeat; 
    background-size: 17px 17px;
    padding-left: 30px;
}

.cl_checked {
    width: 11px !important;
    height: 11px !important;
}
.btn_b,.btn_q{
    width: 100px;
    height: 36px;
    font-size: 14px;
    line-height: 26px;
    border-radius: 2px;
    border: 1px solid #FFFFFF;
    font-weight: 400;
}
.btn_b{
    color: #FFFFFF;
    background: linear-gradient(180deg, #75CEFF 0%, #1976C4 100%);
}
.btn_q{
    border: 0.5px solid #DDDDDD;
    background: linear-gradient(180deg, #fefefe 0%, #F3F3F3 100%);
    color: #666666;
}
.btn_b,.btn_q:hover{
    box-shadow:none!important;   
    outline:none !important;
}
.sidebar ul .a1 .link {
    height: 60px;
}


.modal-center {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    left: 50%;
    width: 550px;
  }
  .modal-center .modal-content .tip-content {
    margin-bottom: 26px;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    line-height: 22px;
  }
  .modal-center .modal-content .modal-body{
      height: auto;
  }
  .modal-center .modal-content .tip-content img {
    width: 21px;
    height: 21px;
    vertical-align: middle;
    margin-right: 14px;
  }
  .modal-center .modal-footer {
    border-top: none;
  }