.card-2 .title > ul > .m-btn:first-child {
  background: #fff;
  color: #333;
  border-color: #ccc;
}
.card-2 .title > ul > .m-btn:nth-child(2) {
  background: #fff;
  color: #333;
  border-color: #ccc;
}
.container {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.sidebar > ul > .active > a {
  background: url("../img/icon-list.png") 8px 15px no-repeat !important;
  background-size: 30px 30px !important;
}
.sidebar-flod > ul > .active > a {
  background: url("../img/icon-list.png") center center no-repeat !important;
  background-size: 30px 30px !important;
}
.modal-list .modal-header {
  background: linear-gradient(360deg, #eff5fc 0%, #ffffff 100%);
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #bdddf4;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}
.tab-pane-extra {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}
.tab-pane-extra .input-group-btn {
  margin-left: 12px;
}

.select-time {
  border-radius: 6px !important;
  border: 1px solid #cccccc;
}
