.sidebar > ul > .active > a {
  background: url("../img/icon-cd.png") 8px 15px no-repeat !important;
  background-size: 30px 30px !important;
}
.sidebar-flod > ul > .active > a {
  background: url("../img/icon-cd.png") center center no-repeat !important;
  background-size: 30px 30px !important;
}