.container {
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #e7f2ff;
}

.sidebar > ul > .active > a {
  background: url("../img/icon-task.png") 8px 15px no-repeat !important;
  background-size: 30px 30px !important;
}
.sidebar-flod > ul > .active > a {
  background: url("../img/icon-task.png") center center no-repeat !important;
  background-size: 30px 30px !important;
}
.content > p {
  font-size: 16px;
  color: #00499d;
  margin-bottom: 0;
}
.card-1,
.card-2 {
  width: 146px;
  margin-top: 14px;
  border-radius: 5px;
  border: 1px solid #bdddf4;
}
.card-1 {
  padding: 13px 14px;
}
.card-2 {
  width: calc(100% - 157px);
}
.card-1 > div {
  width: 100%;
  height: 1px;
  border-top: solid #eee 1px;
  margin: 10px 0 10px 0;
}
.card-1 ul > p,
.card-1 ul > li {
  list-style: none;
  font-size: 13px;
  color: #666666;
  margin-bottom: 13px;
  margin-left: 11px;
}
.card-1 ul .active {
  color: #2f8bd2;
}
.card-1 ul > li:last-child {
  margin-bottom: 0;
}
.card-1 ul > p {
  margin-left: 0;
  color: #999999;
}
.card-2 .title {
  background: linear-gradient(360deg, #eff5fc 0%, #ffffff 100%);
  border-bottom: 1px solid #bdddf4;
  box-sizing: border-box;
  padding: 8px 17px 0;
  border-radius: 5px 5px 0 0;
}
.card-2 .title ul {
  margin: 0;
}
.card-2 .title .m-btn {
  margin-right: 7px;
  width: 70px;
  font-size: 10px;
  text-align: center;
  background: linear-gradient(180deg, #ffffff 0%, #f3f3f3 100%);
  border: 1px solid #dddddd;
  height: 24px;
  line-height: 20px;
}
.card-2 .title > ul > .m-btn:first-child {
  color: #ffffff;
  background: linear-gradient(180deg, #75ceff 0%, #1976c4 100%);
  border-color: #75ceff;
}
.card-2 .title > ul > .m-btn:nth-child(2) {
  color: #ffffff;
  background: linear-gradient(180deg, #73cb24 0%, #439308 100%);
  border-color: #73cb24;
}
.card-2 .title > i {
  color: #ccc;
  line-height: 18px;
}
.card-2 .title .input-group {
  width: 135px;
  display: inline-table;
}
.card-2 .title .input-group-btn:first-child>.btn{
  padding: 2px 5px;
}
.card-2 .title .input-group > .input-sm {
  width: 135px;
  height: 24px;
  background-image: url("../img/icon-search.png");
  background-repeat: no-repeat;
  background-position: 114px 3px;
  background-size: 14px 14px;
  margin-right: 13px;
}
/* 圆点 */
.dot {
  width: 10px;
  height: 10px;
  margin: 0 auto;
  border-radius: 50%;
  display: inline-block;
}

/* 固定列的table.css */
.table-cont {
  width: 100%;
  max-height: 510px;
  position: relative;
  background: #f6f8fa;
  overflow-x: auto;
}
/* 清除table的bottom */
.table {
  margin-bottom: 0;
}
.table-bottom > table,
.table-top > table {
  font-size: 10px;
  color: #666;
}
.table-bottom {
  overflow: auto;
}
.table-top table {
  background: #ffffff;
}
.table-bottom table {
  margin-left: 285px;
  background: #ffffff;
}
.table-cont .table > tbody > tr > td {
  border-top: 0.5px solid #f1f1f3;
  height: 32px;
}
.table-cont.file .table > tbody > tr > td:first-child {
  width: 100px;
}
.table-cont .table-bottom > table > thead td,
.table-cont .table-top > table > thead td {
  height: 36px;
  color: #000000;
  font-weight: 600;
  background: #f6f8fa;
}
.table-top {
  width: 280px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.tr-active {
  background: #e7f2ff;
}
/* 修改滚动条的样式 */
div::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  /**/
}
div::-webkit-scrollbar-track {
  background: #f7f7f7;
  border-radius: 2px;
}
div::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #4aa3ff;
}
div::-webkit-scrollbar-corner {
  background: #179a16;
}
/* 分页 */
.paging {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.paging p {
  margin-bottom: 0;
}
.paging ul {
  margin: 0;
}

.pagination > li > a {
  padding: 3px 12px;
}
.paging > span {
  font-size: 10px;
  color: #999999;
  margin-right: 11px;
}
.paging > nav {
  margin-right: 11px;
  height: 29px;
}
.paging .m-btn {
  padding: 4px 9px;
  margin-right: 11px;
}

/* modal弹框css */
.modal-dialog {
  width: 1100px;
  margin: 0 auto !important;
}
.modal-content {
  width: 100%;
  max-height: 730px;
  background: #ffffff;
  box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  margin-top: 25px;
  overflow: hidden;
  border-color: #bdddf4;
}

.modal-body {
  padding: 12px 20px 20px 20px;
  overflow: auto;
  display: flex;
  max-height: 600px;
}
.modal-form {
  width: 500px;
}
.modal-table {
  width: 510px;
  margin: 0 20px;
  font-size: 10px;
  color: #666;
  overflow-y: auto;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #dddddd;
}
.modal-table thead td {
  background: #f6f8fa;
}

.modal-table .table-close {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  cursor: pointer;
}

.ul_ul {
  display: flex;
  height: 30px;
  line-height: 30px;
}

.ul_ul li {
  list-style: none;
  position: relative;
}

.left_li {
  width: 75px;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  text-align: right;
  list-style: none;
}
.margin-l {
  margin-left: 12px !important;
}
.margin-l > span {
  margin-right: 20px;
}
.margin-l > span > input {
  margin-right: 5px;
}
.right_li {
  font-size: 11px;
  font-weight: 400;
  color: #666666;
}

.right_li input {
  width: 401px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #dddddd;
}

.ul_bei {
  display: flex;
  margin-bottom: 14px;
}

.right_bei {
  list-style: none;
}
.input-padding {
  padding-left: 11px;
}
.select-group {
  display: flex;
}
.select-group .form-control {
  width: 170px;
}
.right_bei textarea {
  width: 401px;
  height: 80px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #dddddd;
  padding: 9px 11px;
  font-size: 11px;
  font-weight: 400;
  color: #666666;
}
.form-control {
  height: 30px;
  font-size: 10px;
  padding: 6px 10px;
  color: #666666;
}
.icon-time {
  background: url("../img/icon-time.png") 8px 6px no-repeat;
  background-size: 17px 17px;
  padding-left: 30px;
}

.cl_checked {
  width: 11px !important;
  height: 11px !important;
}
.btn_b,
.btn_q {
  width: 100px;
  height: 36px;
  font-size: 14px;
  line-height: 26px;
  border-radius: 2px;
  border: 1px solid #ffffff;
  font-weight: 400;
}
.btn_b {
  color: #ffffff;
  background: linear-gradient(180deg, #75ceff 0%, #1976c4 100%);
}
.btn_q {
  border: 0.5px solid #dddddd;
  background: linear-gradient(180deg, #fefefe 0%, #f3f3f3 100%);
  color: #666666;
}
.btn_b,
.btn_q:hover {
  box-shadow: none !important;
  outline: none !important;
}
.sidebar ul .a1 a {
  height: 60px;
  padding: 20px 0 20px 44px;
  font-size: 14px;
  background: url(../img/a11.png) 8px 15px no-repeat;
  background-size: 30px 30px;
}
.sidebar ul .a2 a {
  height: 60px;
  padding: 20px 0 20px 44px;
  font-size: 14px;
  background: url(../img/a22.png) 8px 15px no-repeat;
  background-size: 30px 30px;
}
.sidebar ul .a3 a {
  height: 60px;
  padding: 20px 0 20px 44px;
  font-size: 14px;
  background: url(../img/a33.png) 8px 15px no-repeat !important;
  background-size: 30px 30px;
}

.period,
.fixedTime {
  display: none;
}
.fixedTime.showTime,
.period.showTime {
  display: flex;
}

.choose-file {
  width: 88px;
  line-height: 28px;
  background: linear-gradient(180deg, #75ceff 0%, #1976c4 100%);
  border-radius: 3px;
  border: 1px solid #ffffff;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.modal-body.file-body {
  padding: 0;
}
.modal-body.file-body .box {
  width: 100%;
  display: block;
}
.box {
  width: 100%;
}
.modal-body.file-body .box .choose-file-input {
  width: 135px;
  height: 22px;
  background-image: url(../img/icon-search.png);
  background-repeat: no-repeat;
  background-position: 114px 3px;
  background-size: 14px 14px;
  margin: 12px 0;
}
.modal-body.file-body .box .input-group {
  padding-left: 24px;
}
.choosed-file {
  margin: 0 0 20px 20px;
}

.modal-center {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) !important;
  left: 50%;
  width: 550px;
}
.modal-center .modal-content .tip-content {
  margin-bottom: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  line-height: 22px;
}
.modal-center .modal-content .tip-content img {
  width: 21px;
  height: 21px;
  vertical-align: middle;
  margin-right: 14px;
}

.modal-list .modal-header {
  background: linear-gradient(360deg, #eff5fc 0%, #ffffff 100%);
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #bdddf4;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.modal-tab-header .nav-tabs {
  border: none;
}
.modal-tab-header .nav-tabs > li > a {
  color: #666;
}
.modal-tab-header .nav-tabs > li > a:hover {
  background: #ffffff;
  border-left: none;
  border-top: none;
  border-right: none;
  color: #666;
}
.modal-tab-header .nav-tabs > li.active > a {
  color: #00499d;
  border: none;
  border-bottom: 2px solid #00499d;
}
.modal-tab-header.modal-header {
  padding: 15px 15px 0 15px;
}
.ip-show {
  padding-left: 80px;
  font-size: 14px;
  font-weight: 400;
  color: #00499d;
  margin: 10px 0;
}
.extra-btn-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.extra-btn {
  width: 88px;
  height: 30px;
  background: linear-gradient(180deg, #ffffff 0%, #f3f3f3 100%);
  border-radius: 3px;
  border: 1px solid #dddddd;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  margin-right: 10px;
  text-align: center;
}
.tab-pane-extra {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}
.tab-pane-extra .input-group-btn {
  margin-left: 12px;
}
