.container {
  background: #e7f2ff;
}
.sidebar > ul > .active > a {
  background: url("../img/icon-home.png") 8px 15px no-repeat;
  background-size: 30px 30px;
}

.sidebar-flod > ul > .active > a {
  background: url("../img/icon-home.png") center center no-repeat;
  background-size: 30px 30px !important;
}

.content-top {
  width: 100%;
}
.task-data {
  width: 32.66%;
  height: 178px;
  margin-right: 1%;
  background: #ffffff;
  border: 1px solid #bdddf4;
  border-radius: 4px;
}
.content .task-data:last-child {
  margin-right: 0;
}
.task-data .title {
  width: 100%;
  height: 33px;
  line-height: 33px;
  padding-left: 17px;
  background: linear-gradient(360deg, #eff5fc 0%, #ffffff 100%);
  border-radius: 4px 4px 0px 0px;
  font-size: 10px;
  color: #00499d;
}
.task-data .data {
  width: 100%;
  height: 143px;
  box-sizing: border-box;
  padding: 2.47% 4.35%;
}
.data .table > tbody > tr:first-child > td {
  border-top: none;
}
.data .table > tbody > tr > td:first-child {
  border-right: 1px solid #eeeeee;
}
.data .table > tbody > tr > td {
  font-size: 11px;
  color: #333333;
  line-height: 24px;
  padding-left: 55px;
  background: url("../img/icon1.png") 30px 9px no-repeat;
  background-size: 21px 21px;
}
.data .table > tbody > tr:first-child > td:last-child {
  background: url("../img/icon2.png") 30px 9px no-repeat;
  background-size: 21px 21px;
}
.data .table > tbody > tr:nth-child(2) > td:first-child {
  background: url("../img/icon3.png") 30px 9px no-repeat;
  background-size: 21px 21px;
}
.data .table > tbody > tr:nth-child(2) > td:last-child {
  background: url("../img/icon4.png") 30px 9px no-repeat;
  background-size: 21px 21px;
}
.data .table > tbody > tr:last-child > td:first-child {
  background: url("../img/icon2.png") 30px 9px no-repeat;
  background-size: 21px 21px;
}
.data .table > tbody > tr:last-child > td:last-child {
  background: url("../img/icon2.png") 30px 9px no-repeat;
  background-size: 21px 21px;
}
.data-table {
  width: 100%;
  height: 320px;
  margin-top: 20px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #bdddf4;
}
.data-table .title {
  width: 100%;
  height: 33px;
  background: linear-gradient(360deg, #eff5fc 0%, #ffffff 100%);
  padding-top: 4px;
  padding-left: 9px;
  border-radius: 5px 5px 0 0;
}
.tab-content {
  border-radius: 0 0 5px 5px;
}
.title .nav-tabs {
  border-color: #bdddf4;
}
.title .nav > a {
  font-size: 10px;
  color: #00499d;
  margin-top: 4px;
  margin-right: 17px;
}

.title .nav > li > a {
  padding: 5px 9px;
  font-size: 10px;
  color: #666;
}

.title .nav > li > a > i {
  color: #ccc;
  margin-right: 5px;
}
.nav-tabs > li.active > a {
  color: #00499d !important;
  border: 1px solid rgba(189, 221, 244, 1) !important;
}
.nav-tabs > li.active > a > i {
  color: rgb(99, 165, 219);
}

.data-list {
  width: 100%;
  height: 287px;
}

/* 标签页tab1的 固定列的table.css */
.table-cont {
  width: 100%;
  max-height: 450px;
  overflow: hidden;
  position: relative;
  background: #f6f8fa;
}
/* 清除table的bottom */
.table {
  margin-bottom: 0;
}
.table-bottom > table,
.table-top > table {
  font-size: 10px;
  color: #666;
}
.table-bottom {
  overflow: auto;
}
.table-top table {
  background: #ffffff;
}
.table-bottom table {
  margin-left: 285px;
  background: #ffffff;
}
.table-cont .table > tbody > tr > td {
  border-top: 0.5px solid #ddd;
  height: 32px;
}
.table-cont .table-bottom > table > thead td,
.table-cont .table-top > table > thead td {
  height: 36px;
  color: #000000;
  font-weight: 600;
  background: #ffffff;
}
.table-top {
  width: 280px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
/* 修改滚动条的样式 */
div::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  /**/
}
div::-webkit-scrollbar-track {
  background: #f7f7f7;
  border-radius: 2px;
}
div::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #4aa3ff;
}
div::-webkit-scrollbar-corner {
  background: #179a16;
}
/* 固定列表css结束 */

.data-table-two {
  width: 49.5%;
  height: 259px;
}
.down-btn {
  width: 158px;
  display: flex;
  font-size: 10px;
}
.down-btn > span {
  font-size: 10px;
  color: #00499d;
  line-height: 28px;
  margin-right: 10px;
}
.down-btn .btn {
  font-size: 10px;
  color: #333333;
  padding: 4px 9px;
}
.data-table-two .table thead tr {
  font-size: 10px;
  color: #000;
  font-weight: 600;
  text-align: center;
}
.data-table-two .table tbody tr {
  height: 32px;
  font-size: 10px;
  color: #666;
  text-align: center;
}
.data-table-two .table > tbody > tr > td {
  height: 32px;
  padding: 7px;
}
/* 圆点 */
.dot {
  width: 10px;
  height: 10px;
  margin: 0 auto;
  border-radius: 50%;
  display: inline-block;
}
.data-graph {
  width: 49.5%;
  height: 259px;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid #bdddf4;
  background: #ffffff;
}
.data-graph .title {
  width: 100%;
  height: 33px;
  padding: 6px 17px 6px 17px;
}
.graph-title-left {
  width: auto;
  box-sizing: border-box;
}
.graph-title-right {
  width: auto;
  box-sizing: border-box;
}
.graph-title-right > a {
  font-size: 10px;
  color: #00499d;
}

.notification {
  position: fixed;
  width: 408px;
  bottom: 28px;
  right: 14px;
  max-height: 209px;
  background: #fff;
  background: linear-gradient(360deg, #eff5fc 0%, #ffffff 100%);
  box-shadow: -2px 1px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: 1px solid #bdddf4;
  overflow-y: auto;
}
.notification .notification-body {
  padding: 0 20px;
}
.notification .notification-body ul li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(36, 99, 171, 0.19);
  padding: 16px 0;
}
.notification .notification-body ul li:last-child {
  border-bottom: none;
}
.notification .notification-body ul li .view-icon {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 14px;
}
.notification .notification-body ul li .view-content {
  flex: 1;
}
.notification .notification-body ul li .view-content p {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}
.notification .notification-body ul li .view-content span {
  font-size: 14px;
  font-weight: 400;
  color: #666666;
}

.notification .notification-body ul li .view-right {
  display: flex;
  align-items: center;
}

.notification .notification-body ul li .view {
  width: 74px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: linear-gradient(180deg, #75ceff 0%, #1976c4 100%);
  border-radius: 3px;
  border: 1px solid #ffffff;
  color: #fff;
  margin-right: 15px;
  cursor: pointer;
}
.notification .notification-body ul li .view-close {
  vertical-align: middle;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.more {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
