.sidebar > ul > .active > a {
  background: url("../img/icon-log.png") 8px 15px no-repeat !important;
  background-size: 30px 30px !important;
}
.sidebar-flod > ul > .active > a {
  background: url("../img/icon-log.png") center center no-repeat !important;
  background-size: 30px 30px !important;
}
.treebox {
  height: 300px;
}
.card-tree {
  height: 566px;
  width: 146px !important;
  overflow: hidden !important;
  overflow-y: auto !important;
}
.card-tree ul>li{
  margin-left: 0;
  font-size: 14px;
}