.container{
    background:#E7F2FF;
}
.link{
    font-size: 10px;
    display: flex;
    align-items: center;
}
.icon-source{
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url('../img/icon1-no.png') 0px 0px no-repeat;
    background-size: 30px 30px;
    margin:0 5px 0 8px;
}
.icon-ferry{
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url('../img/icon-cd2.png') 0px 0px no-repeat;
    background-size: 30px 30px;
    margin:0 5px 0 8px;
}
.icon{
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url('../img/a33.png') 0px 0px no-repeat;
    background-size: 30px 30px;
    margin:0 5px 0 8px;
}

.content>p{
    font-size: 16px;
    color: #00499D;
    margin-bottom: 0;
}
.card-1,.card-2{
    width: 15%;
    height: 566px;
    margin-top: 14px;
    border-radius: 5px;
    border: 1px solid #BDDDF4;
    overflow: hidden;
}
.card-1{
    padding: 13px 14px;
}
.card-2{
    width: 84%;
}
.card-1>div{
    width: 100%;
    height: 1px;
    border-top: solid #eee 1px;
    margin: 10px 0 10px 0;
}
.card-1 ul>p,.card-1 ul>li{
    list-style: none;
    font-size: 10px;
    color: #666666;
    margin-bottom: 13px;
    margin-left: 11px;
}
.card-1 ul .active{
    color: #2F8BD2;
}
.card-1 ul>li:last-child{
    margin-bottom: 0;
}
.card-1 ul>p{
    margin-left: 0;
    color: #999999;
}
.card-2>.title{
    height: 38px;
    background: linear-gradient(360deg, #EFF5FC 0%, #FFFFFF 100%);
    border-bottom: 1px solid #BDDDF4;
    box-sizing: border-box;
    padding: 8px 17px;
}
.card-2 .title ul{
    margin: 0;
}
.card-2 .title .m-btn{
    margin-right: 7px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10px;
}
.card-2 .title>ul>.m-btn:first-child{
    color: #FFFFFF;
    background: linear-gradient(180deg, #75CEFF 0%, #1976C4 100%);
    border-color: #75CEFF;
}
.title>ul>.m-btn:first-child{
    color: #FFFFFF;
    background: linear-gradient(180deg, #75CEFF 0%, #1976C4 100%);
    border-color: #75CEFF;
}
/* .card-2 .title>ul>.m-btn:nth-child(2){
    color: #FFFFFF;
    background: linear-gradient(180deg, #73CB24 0%, #439308 100%);
    border-color: #73CB24;
} */
.card-2 .title>i{
    color: #ccc;
    line-height: 18px;
}
.card-2 .title .input-group{
    width: 135px;
    height: 22px;
}
.card-2 .title .input-group>.input-sm{
    width: 135px;
    height: 22px;
    background-image: url('../img/icon-search.png'); 
    background-repeat: no-repeat;
    background-position: 114px 3px;
    background-size: 14px 14px;
    margin-right: 13px;
}
/* 圆点 */
.dot{
    width: 10px;
    height: 10px;
    margin: 0 auto;
    border-radius: 50%;
    display: inline-block;
}

.icon-an {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url('../img/icon-an.png') no-repeat no-repeat !important;
    background-size: 14px 14px;
    margin-top: 5px;
}
/* 固定列的table.css */
.table-cont{
    width: 100%;
    max-height: 490px;
    overflow: hidden;
    position: relative;
    background: #F6F8FA;
}
/* 清除table的bottom */
.table{
    margin-bottom: 0;
}
.table-bottom>table,.table-top>table{
    font-size: 10px;
    color: #666;
}
.table-bottom{
    overflow: auto;
}
.table-top table{
    background: #ffffff;
}
.table-bottom table{
    background: #ffffff;
}
.table-cont .table>tbody>tr>td{
    border-top: 0.5px solid #F1F1F3;
    height: 32px;
}
.table-cont .table-bottom>table>thead td,.table-cont .table-top>table>thead td{
    height: 36px;
    color: #000000;
    font-weight: 600;
    background: #F6F8FA;
}
.table-top{
    width: 280px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.tr-active{
    background: #E7F2FF;
}
/* 修改滚动条的样式 */
div::-webkit-scrollbar{
    width:10px;
    height:8px;
    /**/
  }
  div::-webkit-scrollbar-track{
    background: #F7F7F7;
    border-radius:2px;
  }
  div::-webkit-scrollbar-thumb{
    background: #ddd;
    border-radius:10px;
  }
  div::-webkit-scrollbar-thumb:hover{
    background: #4AA3FF;
  }
  div::-webkit-scrollbar-corner{
    background: #179a16;
  }
/* 分页 */
.paging{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.paging p{
    margin-bottom: 0;
}
.paging ul{
    margin: 0;
}

.pagination>li>a{
    padding: 3px 12px;
}
.paging>span{
    font-size: 10px;
    color: #999999;
    margin-right: 11px;
}
.paging>nav{
    margin-right: 11px;
    height: 29px;
}
.paging .m-btn{
    padding:4px 9px;
    margin-right: 11px;
}


/* modal弹框css */
.modal-dialog {
    width: 925px;
    margin: 0 auto !important;
}

.modal-content {
    width: 100%;
    max-height: 889px;
    background: #FFFFFF;
    box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    margin-top: 25px;
    overflow: hidden;
}

.modal-body{
    padding: 26px 0 0 38px;
    height:700px;
    overflow: auto;
    display: flex;
}
.modal-form{
    width: 500px;
}
.modal-form ul {
    margin-bottom: 20px;
}
.modal-table{
    width: 363px;
    height: 497px;
    background: #00499D;
    margin-left: 40px;
}
.uploadModal {
    width: 550px;
}
.uploadModal .modal-body {
    height: 200px;
    padding: 25px;
}
#ipModal .modal-body, #bindIpModal .modal-body{
    height: 500px;
}
.glyphicon-exclamation-sign {
    color: #FFAD00;
}
.uploadModal .modal-body>p {
    
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}
.ul_ul {
    display: flex;
    height: 30px;
    line-height: 30px;
}

.ul_ul li {
    list-style: none;
    position: relative;
}
.chooseBox {
    width: 400px;
    height: 345px;
    border: 1px solid #ccc;
}
.chooseBox .treebox {
    height: 100%;
    overflow: scroll;
}
.left_li {
    width: 90px;
    font-size: 10px;
    font-weight: 600;
    color: #000000;
    text-align: right;
    list-style: none;

}
.margin-l{
    margin-left: 12px !important;
}
.margin-l>span{
    margin-right: 20px;
}
.margin-l>span>input{
    margin-right: 5px;
}
.right_li {
    font-size: 11px;
    font-weight: 400;
    color: #666666;
}

.right_li input {
    width: 401px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #DDDDDD;

}

.ul_bei {
    display: flex;
    margin-bottom: 14px;
}

.right_bei {
    list-style: none;
}
.input-padding{
    padding-left: 11px;
}
.select-group{
    display: flex;
}
.select-group .form-control{
    width: 170px;
}
.right_bei textarea{
    width: 401px;
    height: 80px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    padding: 9px 11px;
    font-size: 11px;
    font-weight: 400;
    color: #666666;
}
.form-control{
    height: 30px;
    font-size: 10px;
    padding: 6px 10px;
    color: #666666;
}
.icon-time{
    background: url('../img/icon-time.png') 8px 6px  no-repeat; 
    background-size: 17px 17px;
    padding-left: 30px;
}

.cl_checked {
    width: 11px !important;
    height: 11px !important;
}
.btn_b,.btn_q{
    width: 100px;
    height: 36px;
    font-size: 14px;
    line-height: 26px;
    border-radius: 2px;
    border: 1px solid #FFFFFF;
    font-weight: 400;
}
.btn_b{
    color: #FFFFFF;
    background: linear-gradient(180deg, #75CEFF 0%, #1976C4 100%);
}
.btn_q{
    border: 0.5px solid #DDDDDD;
    background: linear-gradient(180deg, #fefefe 0%, #F3F3F3 100%);
    color: #666666;
}
.btn_b,.btn_q:hover{
    box-shadow:none!important;   
    outline:none !important;
}
.sidebar ul .a1 .link {
    height: 60px;
}
.sidebar ul .a2 a {
    height: 60px;
    padding: 20px 0 20px 44px;
    font-size: 10px;
    background: url('../img/icon-drive.png') 8px 15px no-repeat !important;
    background-size: 30px 30px;
}
.sidebar ul .a3 .link{
    height: 60px;
}  
.sidebar ul .a4 a {
    height: 60px;
    padding: 20px 0 20px 44px;
    font-size: 10px;
    background: url('../img/icon-system.png') 8px 15px no-repeat !important;
    background-size: 30px 30px;
}
.sidebar ul .a5 a {
    height: 60px;
    padding: 20px 0 20px 44px;
    font-size: 10px;
    background: url('../img/icon-user-management.png') 8px 15px no-repeat !important;
    background-size: 30px 30px;
}
.sidebar ul .a6 a {
    height: 60px;
    padding: 20px 0 20px 44px;
    font-size: 10px;
    background: url('../img/icon-menu-select.png') 8px 15px no-repeat !important;
    background-size: 30px 30px;
}
.sidebar ul .a7 a {
    height: 60px;
    padding: 20px 0 20px 44px;
    font-size: 10px;
    background: url('../img/icon-role-management.png') 8px 15px no-repeat !important;
    background-size: 30px 30px;
}
.sidebar ul .a8 .link {
    height: 60px;
}
.sidebar ul .a9 a {
    height: 60px;
    padding: 20px 0 20px 44px;
    font-size: 10px;
    background: url('../img/icon-user2.png') 8px 15px no-repeat !important;
    background-size: 30px 30px;
}
.sidebar-flod ul li:first-child>a{
    background: url('../img/icon1.png') 0px 0px no-repeat;
    background-size: 21px 21px;
}
.sidebar-flod ul li:nth-child(2)>a{
    background: url('../img/icon-drive.png') 0px 0px no-repeat;
    background-size: 21px 21px;
}
.sidebar-flod ul li:nth-child(3)>a{
    background: url('../img/icon-cd2.png') 0px 0px no-repeat;
    background-size: 21px 21px;
}
.sidebar-flod ul li:nth-child(4)>a{
    background: url('../img/icon-system.png') 0px 0px no-repeat;
    background-size: 21px 21px;
}
.sidebar-flod ul li:nth-child(5)>a{
    background: url('../img/icon-user-management-select.png') 0px 0px no-repeat;
    background-size: 21px 21px;
}
.sidebar-flod ul li:nth-child(6)>a{
    background: url('../img/icon-menu.png') 0px 0px no-repeat;
    background-size: 21px 21px;
}
.sidebar-flod ul li:nth-child(7)>a{
    background: url('../img/icon-role-management.png') 0px 0px no-repeat;
    background-size: 21px 21px;
}
.sidebar-flod ul li:nth-child(8)>a{
    background: url('../img/a33.png') 0px 0px no-repeat;
    background-size: 21px 21px;
}
.sidebar-flod ul li:nth-child(9)>a{
    background: url('../img/icon-user2.png') 0px 0px no-repeat;
    background-size: 21px 21px;
}
.sidebar ul .active a{
    background: url('../img/a1.png') 8px 15px no-repeat !important;
    background-size: 30px 30px !important;
}
.sidebar-flod>ul>.active>a{
    background: url('../img/icon1.png') 0px 0px no-repeat !important;
    background-size: 21px 21px !important;
}
@media screen and (min-width:1920px){
    .sidebar ul>.active>a{
        background: url('../img/icon-task.png') 8px 15px  no-repeat !important;
        background-size: 30px 30px !important;
    }
    .sidebar-flod ul>.active>a{
        background: url('../img/icon-task.png') 0px 0px  no-repeat !important;
        background-size: 30px 30px !important;
    }
	.sidebar ul>.active>a {
    background: url(../img/a2.png) 8px 15px no-repeat !important;
    background-size: 30px 30px !important;
}

    .card-1, .card-2{
        height: 795px;
    }
    .card-1{
        padding: 18px 20px;
    }
    .card-1>div{
        width: 100%;
        height: 1px;
        border-top: solid #eee 1px;
        margin: 24px 0 24px 0;
    }
    .card-1 ul>p, .card-1 ul>li{
        font-size: 14px;
        margin-bottom: 20px;
        margin-left:15px;
    }
    .card-1 ul>p{
        margin-left: 0;
        font-size: 14px;
    }
    .card-2 .title{
        height: 50px;
        padding: 12px 24px;
    }
    .card-2 .title .m-btn{
        padding: 2px 20px;
        font-size: 14px;
    }
    .card-2 .title>i{
        font-size: 16px;
        line-height: 25px;
    }
    .btn-group-xs>.btn, .btn-xs{
        padding: 2px 20px;
        font-size: 14px;
    }
    .card-2 .title .input-group>.input-sm{
        width: 180px;
        height: 27px;
        font-size: 14px;
        background-image: url(../img/icon-search.png);
        background-repeat: no-repeat;
        background-position: 154px 3px;
        background-size: 20px 20px;
        margin-right: 18px;
    }
    .table-cont{
        max-height: 795px;
    }
    .table-cont .table-bottom>table>thead td, .table-cont .table-top>table>thead td{
        height: 50px;
    }
    .table-cont .table>thead>tr>td{
        padding: 15px 10px;
    }
    .table-bottom>table, .table-top>table{
        font-size: 14px;
    }
    .table-cont .table>tbody>tr>td{
        height: 45px;
        padding: 12px 0;
    }
    .paging{
        margin-top: 17px;
        padding-right: 50px;
    }
    .paging>span{
        font-size: 14px;
    }
    .paging>nav,.paging .m-btn{
        margin-right: 24px;
    }
    .modal-dialog {
        width: 1300px;
    }
    .modal-body{
        height: 700px;
        padding: 36px  0 0 54px;
        overflow: auto;
    }
    .modal-form{
        width: 650px;
    }
    .modal-table{
        width: 510px;
        height: 698px;
        background: #00499D;
        margin-left: 40px;
    }
    .ul_ul{
        height: 42px;
    }
    .left_li{
        width: 80px;
        line-height: 42px;
        font-size: 14px;
    }
    .right_li{
        font-size: 14px;
    }
    .right_li input{
        height: 42px;
    }
    .form-control{
        height: 42px;
        font-size: 14px;
    }
    .right_bei textarea{
        font-size: 14px;
    }
    .icon-time{
        background: url(../img/icon-time.png) 8px 10px no-repeat;
        background-size: 20px 20px;
        padding-left: 30px;
    }
}